* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #eee;
    margin: 0;
}

.container {
    align-items: center;
    display: flex;
}

.container img {
    max-height: 100vh;
}

.headline {
    padding: 1rem 3rem;
}

.headline h1 {
    padding: 1rem 0;
}

.headline h1:last-child {
    margin-bottom: 1rem;
}

fieldset {
    background-color: white;
    border: none;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
}

fieldset section {
    display: flex;
}

section div * {
    display: block;
}